@import "./base.css";

#app {
  width:100vw;
  height:100vh;
  overflow: auto;
  margin: 0 auto;
  display: grid;
}

a{
  text-decoration: none;
  color: var(--black-mute);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover{
    color: var(--primary);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-rows:var(--header-height) 1fr 30vh;
    grid-template-columns:1fr minmax(auto, 1280px) 1fr;
    grid-template-areas:
      "header header header"
      ". body ."
      "footer footer footer";
  }
}

ul{
  list-style: none;
}